@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

li {
    list-style-type: none;
}

.containerHeader {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid rgb(88, 88, 88);
    border-collapse: collapse;
}

th {
    border: 1px solid rgb(88, 88, 88);
    border-collapse: collapse;
    width: 20%;
}

td {
    border: 1px solid rgb(88, 88, 88);
    border-collapse: collapse;
    background-color: aliceblue;
    text-align: center;
}

.btnDelete {
    margin: 5em 0 0 0;
    padding: 0.5em 2em;
    background-color: #fff;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 24px;
    color: rgb(88, 88, 88);
    transition-duration: 200ms;
    cursor: pointer;
}

.btnDelete:hover {
    background-color: aliceblue;
}
