

<form method="post" action="{{ path('app_stock_delete', {'id': stock.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock.id) }}">
    <button class="btn btnDelete"><i class="fa-solid fa-trash-can"></i> Supprimer l'article</button>
</form>
