{{ form_start(form) }}
<style>
.containerForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}
</style>
<div class="containerForm">
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
