{% extends 'base.html.twig' %}

{% block title %}Edit Stock{% endblock %}

{% block body %}
    <h1>Modifier {{ stock.name }}</h1>
    <a href="{{ path('app_stock_index') }}"><i class="fa-solid fa-backward"></i> Retour à la liste</a>
    {{ include('stock/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
